<div class="container">
  <div class="row no-gutters">
    <div class="col-md-3 sidebar text-center px-0 my-5">
      <%= link_to "NEW SPOT",new_spot_path, class:"btn btn-lg btn-info" %>
      <aside class="shadow-lg rounded px-0 my-5">
        <%= render 'public/genres/search', genres: @genres %>
      </aside>
    </div>
    <div class="col-9 text-center shadow-lg py-3">
      <h3 class="text-dark bg-light p-3 mb-0 text-center">NOW, YOU CAN FIND PHOTOGENIC SPOTS EASIER.</h3>
      <div class="slider">
        <% @randoms.each do |random| %>
          <%= link_to image_tag(random.image.variant(resize:"600x500^", gravity:"center")), spots_path(random.id), method: :get %>
        <% end %>
      </div>
    </div>
  </div>
</div>




<script>
  $('.slider').slick({
      centerMode: true, //スライド画面に次のスライドが表示される
      centerPadding: '10%', //次のスライドの幅
      dots: true, //スライドの下にドットのナビゲーションを表示
      autoplay: true, //自動再生オン
      autoplaySpeed: 1000, //再生スピード
      infinite: true //スライドが終了したら最初に戻る
  });
</script>