<div class="container">
  <div class="row no-gutters">
    <div class="col-mx text-center shadow-lg py-3">
      <h3>NOW, YOU CAN FIND PHOTOGENIC SPOTS EASIER.</h3>
      <div class="slider">
        <% @randoms.each do |random| %>
          <%= link_to image_tag(random.image.variant(resize:"600x500^", gravity:"center")), spots_path(random.id), method: :get %>
        <% end %>
      </div>
    </div>
  </div>
</div>