
<table class="table table-bordered mx-auto ">
    <tr class="table-dark bg-light"><th>SEARCH TAGS</th></tr>
    <% genres.each do |genre| %>
    <tr class="bg-light"><td><%= link_to genre.name,genre_path(genre), class:"text-dark" %></td></tr>
    <% end %>
</table>