@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

  .sidebar {
    max-width: 220px;
    margin-right: auto;
  }

  .card-box {
    width: 410px;
  }

  #map {
    height: 600px;
    margin-top: 20px;
  }

  .star {
    size: 20px;
  }

  .pagination .page-link {
  background: white;
  color: gray;
  }

  .pagination {
  padding: 20px;
  justify-content: center;
  box-shadow:large;
  }

  .spot-image {
  margin: auto;
  }