<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto text-center">
     <h3>CANCEL MY ACCOUNT</h3>

      <div class="text-center">
        <%= link_to "BACK TO MY ACCOUNT", users_my_page_path, class: "btn btn-primary rounded-pill" %>
        <%= link_to "CANCEL MY ACCOUNT", users_withdraw_path, data: { confirm: "ARE YOU SURE?" }, method: :patch, class: "btn btn-danger rounded-pill" %>
      </div>
    </div>
  </div>
</div>